<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Redeem a purchase code</title>
    <link rel="stylesheet" type="text/css" href="templates/css/view.css" media="all">
    <script type="text/javascript" src="templates/js/view.js"></script>
    <script type="text/javascript" src="templates/js/calendar.js"></script>
</head>
<body id="main_body" >

<img id="top" src="templates/img/top.png" alt="">
<div id="form_container">

    <h1>&nbsp;</h1>
    <form class="appnitro" method="post" action="index.php">
        <div class="form_description">
            <h2>Thank you very much</h2>
            <p>
                Thank you very much for purchasing one of our products.<br/>
                You can now access the premium content and/or the support forums.
            </p>
        </div>
    </form>
    <div id="footer">
        Powered by <a href="http://gewora.net/easy-nverify/" target="_blank">Gewora - Easy nVerify</a>
    </div>
</div>
<img id="bottom" src="templates/img/bottom.png" alt="">
</body>
</html>